header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  background-color: var(--navigation-color);

  .right {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .logo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

    &-text {
      filter: var(--icon-filter-inverted);
      width: 160px;
    }
  }
}

.flag-icon {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
  margin-right: 8px;
  border-radius: 50%;
}

.language-select {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
}
