header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  background-color: var(--navigation-color);

  .right {
    display: flex;
    align-items: normal;
    gap: 12px;
    margin-right: 16px;

    .menu-button {
      min-width: 40px;
      padding: 0 8px;

      .mat-icon {
        color: var(--secondary-color);
        font-size: 24px;
        height: 24px;
        width: 24px;
        line-height: 24px;
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

    &-text {
      filter: var(--icon-filter-inverted);
      width: 160px;
    }
  }
}

.flag-icon {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
  margin-right: 8px;
  border-radius: 50%;
}

.language-select {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
}

::ng-deep {
  .custom-menu {
    .mat-mdc-menu-content {
      padding: 8px;
      background-color: var(--background-color);
      border-radius: 8px;
      border: 1px solid var(--divider-color);
    }

    .mat-mdc-menu-item {
      width: 150px;
      color: var(--primary-color);
    }

    .mat-mdc-menu-item:not([disabled]):hover {
      border-radius: 6px;
      background-color: var(--grey-hover);
    }
  }

  .mat-mdc-tooltip {
    background-color: var(--card-color);
    color: var(--primary-color);
    border-radius: 8px;
    border: 1px solid var(--divider-color);
    padding: 8px;
    font-size: 14px;
    line-height: 1.5;
    white-space: pre-line;
  }
}

@media (max-width: 600px) {
  .right {
    .language-select,
    mt-theme-switcher {
      display: none;
    }
  }

  .custom-menu {
    .mat-mdc-menu-content {
      .language-select,
      mt-theme-switcher {
        display: flex;
        margin-bottom: 8px;
      }
    }
  }
}

@media (max-width: 390px) {
  .logo p {
    display: none;
  }
}
