<header>
  <div class="logo" routerLink="/">
    <img src="assets/styles/icons/car-logo.svg" alt="Logo" />
    <img src="assets/styles/icons/text-logo.svg" alt="Logo" class="logo-text" />
  </div>
  <div class="right">
    <div class="language-select">
      <div class="flag-icon" [style.background-image]="'url(' + selectedFlag + ')'"></div>
      <app-dropdown-menu
        [items]="languages"
        [placeholder]="selectedLanguage"
        (selectionChange)="onLanguageChange($event)"
      ></app-dropdown-menu>
    </div>
    <mt-theme-switcher></mt-theme-switcher>
    <ng-container *ngIf="isLoggedIn; else loggedOut">
      <mt-button (click)="onLogOut()" label="Log out" type="add" size="medium"></mt-button>
    </ng-container>
    <ng-template #loggedOut>
      <mt-button routerLink="/auth" label="Sign up" type="add" size="medium"></mt-button>
    </ng-template>
    <mt-button routerLink="/tariffs" label="Tariffs" type="add" size="medium"></mt-button>
  </div>
</header>
