<div class="dropdown" [class.open]="isOpen" (clickOutside)="isOpen = false">
  <div class="dropdown-trigger" (click)="toggleDropdown()">
    <span class="trigger-label">{{ selectedItem?.label || placeholder }}</span>
    <i class="trigger-icon"></i>
  </div>
  @if (isOpen) {
    <div class="dropdown-content">
      @for (item of items; track item) {
        <div class="dropdown-item" [class.disabled]="item.disabled" (click)="selectItem(item)">
          <span>{{ item.value }}</span>
        </div>
      }
    </div>
  }
</div>
