<div>
  <form [formGroup]="form">
    <div>
      <h1>{{ 'TARIFFS_PAGE.ADD_NEW_TARIFF' | translate }}</h1>
      <label for="from">{{ 'TARIFFS_PAGE.FROM_LABEL' | translate }}</label>
      <input
        id="from"
        formControlName="from"
        [placeholder]="'TARIFFS_PAGE.FROM_PLACEHOLDER' | translate"
      />
    </div>
    <div formArrayName="additionalStops">
      @for (stop of additionalStops.controls; track $index) {
        <div class="additional-stop">
          <input
            type="text"
            [formControlName]="$index"
            placeholder="{{ 'TAXI_ORDER_FORM.ADDITIONAL_STOP_PLACEHOLDER' | translate }} {{
              $index + 1
            }}"
          />
          <button type="button" (click)="removeStop($index)">
            {{ 'TAXI_ORDER_FORM.REMOVE_STOP' | translate }}
          </button>
        </div>
      }
      <button
        class="add-ride-btn"
        type="button"
        (click)="addStop()"
        [disabled]="additionalStops.length >= 3"
      >
        <img src="assets/styles/icons/add.svg" alt="Add" />
        <span>{{ 'TAXI_ORDER_FORM.ADD_STOP' | translate }}</span>
      </button>
    </div>
    <div>
      <label for="to">{{ 'TARIFFS_PAGE.TO_LABEL' | translate }}</label>
      <input
        id="to"
        formControlName="to"
        [placeholder]="'TARIFFS_PAGE.TO_PLACEHOLDER' | translate"
      />
    </div>
    <div>
      <label for="price">{{ 'TARIFFS_PAGE.PRICE_LABEL' | translate }}</label>
      <input
        id="price"
        formControlName="price"
        [placeholder]="'TARIFFS_PAGE.PRICE_PLACEHOLDER' | translate"
        type="number"
      />
    </div>
    <div class="action-buttons">
      <mt-button
        [label]="'TARIFFS_PAGE.CANCEL_BUTTON' | translate"
        type="secondary"
        size="medium"
        (click)="close()"
      ></mt-button>
      <mt-button
        [label]="'TARIFFS_PAGE.SAVE_BUTTON' | translate"
        type="primary"
        size="medium"
        (click)="save()"
      ></mt-button>
    </div>
  </form>
</div>
