@import '../../../../assets/styles/themes';

.mt-button {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  font-family: 'FixelText';
  font-weight: 600;
  &--large {
    width: 230px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    padding: 0 24px;
  }

  &--medium {
    width: 96px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding: 0 16px;
  }

  &--primary {
    background-color: var(--accent-color);
    color: var(--additional-text);
    border: none;

    &:hover {
      background-color: var(--accent-hover);
    }

    &:active {
      background-color: var(--accent-pressed);
    }
  }

  &--secondary {
    background-color: transparent;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);

    &:active {
      border-color: var(--accent-pressed);
      color: var(--accent-pressed);
    }
  }

  &--add {
    background-color: var(--add-button);
    color: var(--additional-text);
    border: none;

    &:hover {
      background-color: var(--add-button-hover);
    }

    &:active {
      background-color: var(--add-button-pressed);
    }
  }

  &--disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
