<div class="tariffs">
  <h1>Tariffs Page</h1>
  <div class="search-container">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Search cities</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Type to search..." />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mt-button label="Add new route" type="primary" (click)="addTariff()"></mt-button>
  </div>

  <div class="tariffs-grid">
    <div class="tariff-card" *ngFor="let tariff of filteredTariffs" (click)="editTariff(tariff)">
      <div class="tariff-line">
        <div class="icon from-icon"></div>
        <div class="additional-stops" *ngIf="tariff.additionalStops.length > 0">
          <div class="icon additional-stops-icon">{{ tariff.additionalStops.length }}</div>
        </div>
        <div class="icon to-icon">
          <img src="assets/styles/icons/destination.svg" alt="Destination" />
        </div>
      </div>
      <div class="tariff-from">
        <p>From</p>
        {{ tariff.route.from }}
      </div>
      <div class="tariff-options">⋮</div>
      <div class="tariff-to">
        <p>To</p>
        {{ tariff.route.to }}
      </div>
      <div class="tariff-price">{{ tariff.price | currency }}</div>
    </div>
  </div>
</div>
