<footer>
  <!-- <div class="upper">
    <div class="left">
      <div class="logo">
        <img src="assets/styles/icons/footer-logo.svg" alt="Mr Taxi Footer Logo" />
      </div>
      <p class="footer-text">
        Subscribe to our newsletter for the latest updates on features and services.
      </p>
      <div class="email-input">
        <input type="email" placeholder="Enter your E-mail" />
        <button class="email-button">Join</button>
      </div>
      <p style="text-align: left">
        By subscribing, you consent to our Privacy Policy and receive updates.
      </p>
    </div>
    <div class="right">
      <h4>Connect with us</h4>
      <div class="social-links">
        <a href="#"
          ><img src="assets/styles/icons/socials/instagram.svg" alt="Instagram" />Instagram</a
        >
        <a href="#"><img src="assets/styles/icons/socials/x.svg" alt="X" />X</a>
        <a href="#"
          ><img src="assets/styles/icons/socials/linkedin.svg" alt="LinkedIn" />LinkedIn</a
        >
        <a href="#"
          ><img src="assets/styles/icons/socials/facebook.svg" alt="Facebook" />Facebook</a
        >
      </div>
    </div>
  </div> -->
  <div class="lower">
    <div class="contact-info">
      © 2025 All Rights Reserved
      <span>
        <a href="tel:+31620709779">Contact: +31 62 070 97 79</a>
      </span>
    </div>
    <div class="links">
      <span>Privacy Polycy</span>
      <span>Terms of Service</span>
      <span>Cookie Setting</span>
    </div>
  </div>
</footer>
