.home-container {
  display: flex;
  gap: 160px;
  align-items: center;
  justify-content: center;
  min-height: 89vh;
  padding: 20px;
  z-index: 1;
  @media screen and (max-width: 1080px) {
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 40px 20px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/assets/styles/img/taxi-bg2.webp) ;
    background-size: cover;
    background-position: top  ;
    background-position-x: -330px;
    filter: brightness(0.5);
    z-index: -1;
  }
}

.welcome-text {
  font-family: 'FixelText-SemiBold', Arial, sans-serif;
  position: relative;
  z-index: 2;
  max-width: 575px;

  h1 {
    align-self: stretch;
    color: #f6f8f9;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
  }

  p {
    color: var(--secondary-color, #dddddf);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }
  @media screen and (max-width: 520px) {
    h1 {
      font-size: 48px;
      line-height: 54px;
    }
    p {
      font-size: 18px;
    }
  }
}

.language-switcher {
  position: relative;
  z-index: 2;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
