.home-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 89vh;
  padding: 20px;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/assets/styles/img/taxi-bg.png) no-repeat center -180px;
    background-size: cover;
    filter: brightness(0.5);
    z-index: -1;
  }
}

.welcome-text {
  font-family: 'FixelText-SemiBold', Arial, sans-serif;
  position: relative;
  z-index: 2;
}

.language-switcher {
  position: relative;
  z-index: 2;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.taxi-form {
  width: 555px;
  height: 658px;
  background-color: var(--navigation-color);
  border-radius: 8px;
}
