<form [formGroup]="taxiOrderForm" (ngSubmit)="onSubmit()">
  <h2>{{ 'TAXI_ORDER_FORM.TITLE' | translate }}</h2>
  <div>
    <input
      type="text"
      id="from"
      formControlName="from"
      placeholder="{{ 'TAXI_ORDER_FORM.FROM_PLACEHOLDER' | translate }}"
      required
    />
  </div>
  <div>
    @if (additionalStops.length < 3) {
      <button class="add-ride-btn" type="button" (click)="addStop()"
              [disabled]="additionalStops.length >= 3">
        <img src="assets/styles/icons/add.svg" alt="Add" />
        <span>{{ 'TAXI_ORDER_FORM.ADD_STOP' | translate }}</span>
      </button>
    }
    <div formArrayName="additionalStops">
      @for (stop of additionalStops.controls; track $index) {
        <div class="additional-stop">
          <input
            type="text"
            [formControlName]="$index"
            placeholder="{{ 'TAXI_ORDER_FORM.ADDITIONAL_STOP_PLACEHOLDER' | translate }} {{
              $index + 1
            }}"
          />
          <button type="button" (click)="removeStop($index)">
            {{ 'TAXI_ORDER_FORM.REMOVE_STOP' | translate }}
          </button>
        </div>
      }

    </div>
  </div>
  <div>
    <input
      type="text"
      id="to"
      formControlName="to"
      placeholder="{{ 'TAXI_ORDER_FORM.TO_PLACEHOLDER' | translate }}"
      required
    />
  </div>

  <div>
    <label for="passengerName">{{ 'TAXI_ORDER_FORM.PASSENGER_NAME_LABEL' | translate }}</label>
    <input
      type="text"
      id="passengerName"
      formControlName="passengerName"
      placeholder="{{ 'TAXI_ORDER_FORM.PASSENGER_NAME_PLACEHOLDER' | translate }}"
      required
    />
  </div>
  <div class="additional-info-wrapper">
    <div>
      <label for="numberOfPassengers">{{
          'TAXI_ORDER_FORM.NUMBER_OF_PASSENGERS_LABEL' | translate
        }}</label>
      <div class="passenger-buttons">
        <button type="button" (click)="decreasePassengers()" class="decrease">-</button>
        <input
          type="number"
          id="numberOfPassengers"
          formControlName="numberOfPassengers"
          required
        />
        <button type="button" (click)="increasePassengers()" class="increase">+</button>
      </div>
    </div>
    <div class="additional-info" (click)="openModal()">
      <img src="assets/styles/icons/additional-info.svg" alt="Additional Info" />
      <span>{{ 'TAXI_ORDER_FORM.ADDITIONAL_INFO' | translate }}</span>
    </div>
  </div>
  <div>
    <label for="passengerPhoneNumber">{{
        'TAXI_ORDER_FORM.PASSENGER_PHONE_NUMBER_LABEL' | translate
      }}</label>
    <input
      type="tel"
      id="passengerPhoneNumber"
      formControlName="passengerPhoneNumber"
      placeholder="{{ 'TAXI_ORDER_FORM.PASSENGER_PHONE_NUMBER_PLACEHOLDER' | translate }}"
      required
    />
  </div>

  <div>
    <label for="comment">{{ 'TAXI_ORDER_FORM.COMMENT_LABEL' | translate }}</label>
    <textarea id="comment" formControlName="comment" placeholder="{{ 'TAXI_ORDER_FORM.COMMENT_PLACEHOLDER' | translate }}"></textarea>
  </div>

  <mt-button
    label="{{ 'TAXI_ORDER_FORM.BOOK_RIDE_BUTTON' | translate }}"
    [disabled]="taxiOrderForm.invalid"
  ></mt-button>
  @if (isModalOpen) {
    <mt-modal
      title="{{ 'TAXI_ORDER_FORM.ADDITIONAL_INFO' | translate }}"
      (confirm)="handleConfirm($event)"
      (close)="closeModal()"
    >
      <app-additional-info-form (formSubmitted)="handleConfirm($event)"></app-additional-info-form>
    </mt-modal>
  }
</form>
