// Dark Theme Variables
$dark-background-color: #17191D;
$dark-section-color: #26272C;
$dark-navigation-color: #17191D;
$dark-divider-color: #2F343B;
$dark-card-color: #202127;
// dark Theme Typography colors
$dark-primary-color: #F6F8F9;
$dark-secondary-color: #A5A5A7;
$dark-disabled-button-color: #585D64;
$dark-disabled-text: #A4AAB0;
$dark-additional-text: #0D0E11;
$dark-input: #1E1F22;
$dark-input-hover: #222328;
// dark Theme Button colors
$dark-button: #F6F8F9;
$dark-button-hover: #E1E8EC;
$dark-button-pressed: #E1E8EC;
// dark Theme Grey colors
$dark-grey: #2B2D32;
$dark-grey-hover: #363841;
$dark-grey-pressed: #3F4049;
// dark Accent colors
$dark-accent-color: #F5B70D;
$dark-accent-hover: #EAAE09;
$dark-accent-pressed: #D99F00;
$dark-orange: #3B3529;
$dark-orange-hover: #4F4325;
$dark-orange-pressed: #645122;

// System theme variables
$dark-system-blue: #5AAAFA;
$dark-system-green: #1BC90B;
$dark-system-red: #E71D32;
$dark-system-yellow: #B4B800;
$dark-system-light-blue: #262F3C;
$dark-system-light-green: #1F3224;
$dark-system-light-red: #342128;
$dark-system-light-yellow: #2F3023;
