// Light Theme Variables
$light-background-color: #FAFDFF;
$light-section-color: #F4F5F7;
$light-navigation-color: #FAFDFF;
$light-divider-color: #E7E8EA;
$light-card-color: #EFF2F8;
// Light Theme Typography colors
$light-primary-color: #0D0E11;
$light-secondary-color: #85888C;
$light-disabled-button-color: #D3D9DE;
$light-disabled-text: #A4AAB0;
$light-additional-text: #F6F8F9;
$light-input: #FCFDFD;
$light-input-hover: #F7F9FA;
// Light Theme Button colors
$light-button: #24282C;
$light-button-hover: #0D0E11;
$light-button-pressed: #000000;
// Light Theme Add Buttin
$light-add-button: #24282C;
$light-add-button-hover: #0D0E11;
$light-add-button-pressed: #000000;
// Light Theme Grey colors
$light-grey: #EFF1F3;
$light-grey-hover: #E8EBED;
$light-grey-pressed: #D6DBDE;
// Light Accent colors
$light-accent-color: #FFC012;
$light-accent-hover: #FDB900;
$light-accent-pressed: #E5A800;
$light-orange: #F4EFDF;
$light-orange-hover: #F4E8C7;
$light-orange-pressed: #F4E2B0;

// System theme variables
$light-system-blue: #5AAAFA;
$light-system-green: #1BC90B;
$light-system-red: #E71D32;
$light-system-yellow: #B4B800;
$light-system-light-blue: #E0EBF8;
$light-system-light-green: #DAEEE0;
$light-system-light-red: #EEDDE4;
$light-system-light-yellow: #E9ECDF;

