@import 'light-theme';
@import 'dark-theme';

:root {
  --background-color: #{$light-background-color};
  --section-color: #{$light-section-color};
  --navigation-color: #{$light-navigation-color};
  --divider-color: #{$light-divider-color};
  --card-color: #{$light-card-color};
  --primary-color: #{$light-primary-color};
  --secondary-color: #{$light-secondary-color};
  --disabled-button-color: #{$light-disabled-button-color};
  --disabled-text: #{$light-disabled-text};
  --additional-text: #{$light-additional-text};
  --input: #{$light-input};
  --input-hover: #{$light-input-hover};
  --button: #{$light-button};
  --button-hover: #{$light-button-hover};
  --button-pressed: #{$light-button-pressed};
  --grey: #{$light-grey};
  --grey-hover: #{$light-grey-hover};
  --grey-pressed: #{$light-grey-pressed};
  --accent-color: #{$light-accent-color};
  --accent-hover: #{$light-accent-hover};
  --accent-pressed: #{$light-accent-pressed};
  --orange: #{$light-orange};
  --orange-hover: #{$light-orange-hover};
  --orange-pressed: #{$light-orange-pressed};
  // System theme variables
  --system-blue: #{$light-system-blue};
  --system-green: #{$light-system-green};
  --system-red: #{$light-system-red};
  --system-yellow: #{$light-system-yellow};
  --system-light-blue: #{$light-system-light-blue};
  --system-light-green: #{$light-system-light-green};
  --system-light-red: #{$light-system-light-red};
  --system-light-yellow: #{$light-system-light-yellow};
}

.dark-theme {
  --background-color: #{$dark-background-color};
  --section-color: #{$dark-section-color};
  --navigation-color: #{$dark-navigation-color};
  --divider-color: #{$dark-divider-color};
  --card-color: #{$dark-card-color};
  --primary-color: #{$dark-primary-color};
  --secondary-color: #{$dark-secondary-color};
  --disabled-button-color: #{$dark-disabled-button-color};
  --disabled-text: #{$dark-disabled-text};
  --additional-text: #{$dark-additional-text};
  --input: #{$dark-input};
  --input-hover: #{$dark-input-hover};
  --button: #{$dark-button};
  --button-hover: #{$dark-button-hover};
  --button-pressed: #{$dark-button-pressed};
  --grey: #{$dark-grey};
  --grey-hover: #{$dark-grey-hover};
  --grey-pressed: #{$dark-grey-pressed};
  --accent-color: #{$dark-accent-color};
  --accent-hover: #{$dark-accent-hover};
  --accent-pressed: #{$dark-accent-pressed};
  --orange: #{$dark-orange};
  --orange-hover: #{$dark-orange-hover};
  --orange-pressed: #{$dark-orange-pressed};
  // System theme variables
  --system-blue: #{$dark-system-blue};
  --system-green: #{$dark-system-green};
  --system-red: #{$dark-system-red};
  --system-yellow: #{$dark-system-yellow};
  --system-light-blue: #{$dark-system-light-blue};
  --system-light-green: #{$dark-system-light-green};
  --system-light-red: #{$dark-system-light-red};
  --system-light-yellow: #{$dark-system-light-yellow};
}
