@font-face {
  font-family: 'FixelText';
  src:
    url('/assets/styles/fonts/FixelText-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FixelText-Bold';
  src:
    url('/assets/styles/fonts/FixelText-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
